site_name: Daniel Dubinsky
theme: 
  name: material
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - toc.follow
  palette: 
    # Palette toggle for light mode
    - scheme: default
      primary: black 
      accent: indigo 
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: black 
      accent: indigo 
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav: 
  - Home: index.md
  - Contact: contact.md
  - Case Studies:
      - "Quantization Noise Analysis: YOLO26 on Hailo-8L": case-studies/quantization_noise_analysis_yolo26.md
      - "Porting YOLO26n to the Hailo-8L": case-studies/yolo26n-hailo-L8.md
      - "Non-Invasive Quantification of Viability": case-studies/non-invasive-viability.md
      - "Optimizing SRNN": case-studies/optimizing-srnn.md

watch:
  - ./docs/

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      linenums: true
      use_pygments: true
      pygments_style: monokai
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.details
  - attr_list
  - md_in_html
  - admonition
  - codehilite
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
