site_name: Daniel Dubinsky
theme: 
  name: material
  features:
    - content.code.copy
    - content.code.annotate
nav: 
  - Home: index.md
  - Contact: contact.md
  - Case Studies:
      - "Optimizing SRNN": case-studies/optimizing-srnn.md
      - "29.01.2026 - Porting YOLO26n to the Hailo-8L": case-studies/yolo26n-hailo-L8.md
watch:
  - ./docs/
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      linenums: true
      use_pygments: true
      pygments_style: monokai
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - admonition
  - codehilite
  - toc:
      permalink: true

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
